/* Main */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');



body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    padding: 10px 20px; 
    box-sizing: border-box;
    background: #393d47; 
    border-bottom: 1px solid #fff; 
    z-index: 1000; 
}


nav .logo {
    font-size: 24px; 
    font-weight: bold;
    text-transform: uppercase;
    color: #D89B31; 
    float: left; 
    margin-right: 20px; 
}


ul.navbar-nav {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center; 
    border-bottom: 2.5px solid #fff;
}

ul.navbar-nav:hover {
    border-bottom: 5px solid #fff; 
}


.dropdown-item:hover, .dropdown-item:active {
    font-size: 16px; 
    background-color: #00a794; 
    color: #fff; 
}


a.dropdown-item {
    text-align: center;
    padding: 10px; 
}


a.nav-link {
    color: #fff; 
    text-decoration: none; 
    padding: 10px 15px; 
    display: block; 
}

a.nav-link:hover {
    font-size: 16px; 
    font-weight: bold; 
    background-color: #333; 
    border-radius: 4px; 
}


.d-flex .btn {
    margin-left: 15px;
    background-color: transparent; 
    border: 1px solid #00a794;
    color: #00a794; 
    padding: 10px 20px; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}

.d-flex .btn:hover {
    background-color: #D89B31; 
    color: #fff; 
}

/* End Navbar */

footer {
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: #393d47 ;
    width: 100%;
    text-align: center;
}


.serving{
    background-color: #D89B31;
    color: black;
    padding: 10px;
    text-align: center;
}


.serving h2{
    text-decoration: underline;
}

.serving p{
    font-size: smaller;
}

td{
    padding: 12.5px;
}

table{
    margin-left: 20%;
    margin-right: 20%;
    border-collapse: collapse;
    width: 60%;
}

.page-title {
    margin-top: 10px; 
    text-align: center;
}

/* Start Form*/

input[type="text"], input[type="password"] {
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    height: 40px;
    line-height: 20px;
    transition: border-color 0.3s ease;
}


input:focus {
    border-color: #00a794; 
    outline: none;
}


input + input, label {
    margin-top: 20px;
}



form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="submit"] {
    background-color: #00a794; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}


input[type="submit"]:hover {
    background-color: #007f6b; 
}


@media (max-width: 768px) {
    form {
        max-width: 100%; 
        padding: 15px;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        font-size: 14px; 
        height: 36px; 
    }
}
/* End Form*/


/*Start Result Page*/
.result-container {
    width: 90%; 
    max-width: 800px; 
    height: 40vh; 
    margin: 10vh auto; 
    padding: 30px;
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.result-container h2 {
    font-size: 26px; 
    color: #00a794; 

}
.result-container a {
    font-size: 18px;
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

.result-container a:hover {
    color: #0056b3; 
}

input{
    max-width: 800px;
}

/*End Result Page*/

