{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<div class="serving">
    <h2>Opening Times</h2>
    <br>
    <table>
    <tr>
        <th>Day</th>
        <th>Hours</th>
    </tr>
    <tr>
        <td>Monday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>8:30 - 19:00</td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>9:30 - 17:00</td>
    </tr>
    </table>
    
</div>

{% endblock %}

    