{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<div class="serving">
    <h2>Opening Times</h2>
    <br>
    <table>
    <tr>
        <th>Day</th>
        <th>Hours</th>
    </tr>
    <tr>
        <td>Monday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>9:00 - 18:00</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>8:30 - 19:00</td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>9:30 - 17:00</td>
    </tr>
    </table>
    
</div>

<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <br><br>
        <h4>We were one of the first companies in the UK to use fair-trade coffee and all organic milk in our products</h4>
      </div>
      <div class="col">
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <img src="/static/images/milk.jpg" width="75%" alt="milk logo">
              </div>
              <div class="col">
                <img src="/static/images/fairtrade.png" width="75%" alt="fairtrade logo">
              </div>
      </div>
    </div>
  </div>
</div>
</div>

<div style=" background-color: #D89B31; border-top: 2px solid black;">
<div class="container text-center">
    <h2 style="text-decoration: underline;">Our Locations</h2>
    <div class="row align-items-start">
      <div class="col">
        <h5>Leeds</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75394.35481112165!2d-1.618131705586483!3d53.805974263123325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48793e4ada64bd99%3A0x51adbafd0213dca9!2sLeeds!5e0!3m2!1sen!2suk!4v1725565317050!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <br>
      </div>
      <div class="col">
        <h5>Knaresborough</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18757.974681453084!2d-1.508072259846272!3d54.00726909909057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48794c0904d12069%3A0x38a9bbcb87ed3689!2sKnaresborough!5e0!3m2!1sen!2suk!4v1725565383867!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br> 
        <br>   
      </div>
      <div class="col">
        <h5>Harrogate</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37527.90144246004!2d-1.57011396775935!3d53.99400945580842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48794e237175bd01%3A0x3c084fbaadea4ff!2sHarrogate!5e0!3m2!1sen!2suk!4v1725565368041!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br> 
        <br>   
    </div>
    </div>
  </div>
</div>
{% endblock %}

    